{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div>
        <div>
            <h1>bienvenus!</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-3">
            <div class="card text-bg-dark">
                <img src="{{ asset('medias/istockphoto-65f2c2227c94f.webp') }}" class="card-img" alt="...">
                <div class="card-img-overlay align-self-center text-dark">
                    <p class="card-text">Plongez dans un monde de sensations glacées et de défis vertigineux avec notre site dédié aux snowtricks : où la passion pour la neige rencontre l'adrénaline de la performance !</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        {% for figure in figures %}
            <div class="col-2 ">
                <div class="card">
                    {% for media in figure.medias %}
                        <img src="{{ asset('medias/'~media.path) }}" class="card-img-top" alt="{{ media.path }}">
                    {% endfor %}

                    <div class="card-body text-end">
                        <a href="{{ path('figure_details', {'id': figure.id}) }}" class="me-3">{{ figure.name }}</a>
                        <a href="#" class="me-3"><i class="fa-solid fa-pencil text-dark"></i></a>

                        <!-- Button trigger modal -->
                        <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <i class="fa-solid fa-trash-can text-dark"></i>
                        </a>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Validation</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Etes vous sûr de vouloir supprimer la figure ?
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{{ path('figure_delete', {'id': figure.id}) }}" class=""><i class="fa-solid fa-trash-can text-dark"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
