{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ figure.name }} detail {% endblock %}

{% block body %}
    <h1>page {{ figure.name }}</h1>

    <div class="row">
        <div class="col-4">
            Fait le : {{ figure.createdAt|date('d-m-Y') }}
        </div>

        <div class="col-4">
            Groupe : {{ figure.category }}
        </div>

        <div class="col-4">
            {% if(figure.updatedAt) %}
                Modifiée le : {{ figure.updatedAt|date }}
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="mb-3">
            <hr>
        </div>

        <div class="col-3">
            {{ form_start(commentForm)}}
                {{ form_widget(commentForm)}}
                <input type="submit" class="btn btn-primary" value="Laissez votre commentaire">
            {{ form_end(commentForm)}}
        </div>

        <div class="mb-3">
            <hr>
        </div>
    </div>

    {#<div class="row">
        {% for comment in comments %}
            <div class="col-12">
                {{ comment.comment }}
            </div>
        {% endfor %}
    </div>#}
{% endblock %}

